openapi: 3.2.0
info:
  title: MERCURY x402 storefront Cited Metadata API
  version: '1'
  x-spec: mercury-storefront/1
  description: Agent-payable resources over HTTP 402 (x402). LIVE — Base mainnet, real USDC, no token. Only currently-deliverable routes are listed (web-fetch is the live paid SKU; mints are gated off). Free discovery at /.well-known/x402, /x402/discovery, /catalog, and /manifest.
servers:
- url: https://network.mercury-hq.com
tags:
- name: cited-metadata
paths:
  /buy/metadata:
    get:
      summary: MERCURY Cited Metadata
      description: URL → one typed, SIGNED metadata record (JSON-LD + OpenGraph + Twitter-card + standard + canonical + title), by source. Deterministic, keyless, no LLM — the social-card/SEO/schema.org record an agent can PROVE.
      operationId: buy_cited_metadata
      tags:
      - cited-metadata
      responses:
        '200':
          description: Delivered after the x402 payment settles on Base mainnet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: true on success; false on an honest failure (you are NOT charged for ok:false)
                  url:
                    type: string
                    description: final URL after redirects
                  status:
                    type: integer
                    description: upstream HTTP status
                  fetchedAt:
                    type: string
                    description: ISO-8601 time the page was read
                  data:
                    type: object
                    description: the typed metadata record, by source
                    properties:
                      title:
                        type:
                        - string
                        - 'null'
                        description: <title> text
                      canonical:
                        type:
                        - string
                        - 'null'
                        description: <link rel=canonical> href
                      openGraph:
                        type: object
                        description: all og:* / article:* / product:* meta, keyed by FULL property name (e.g. 'og:title')
                        additionalProperties:
                          type: string
                      twitter:
                        type: object
                        description: all twitter:* card meta
                        additionalProperties:
                          type: string
                      standard:
                        type: object
                        description: standard head meta (description, author, robots, viewport, charset, keywords, …)
                        additionalProperties:
                          type: string
                      jsonLd:
                        type: array
                        description: every parsed JSON-LD block (@graph flattened)
                        items:
                          type: object
                      counts:
                        type: object
                        description: how many signals of each class were found
                        properties:
                          jsonLd:
                            type: integer
                          openGraph:
                            type: integer
                          twitter:
                            type: integer
                          standard:
                            type: integer
                  text:
                    type: string
                    description: 'the canonical signed string: JSON.stringify(data, sortedKeys). The attestation signs THIS.'
                  error:
                    type: string
                    description: present only when ok:false
                  attestation:
                    type: object
                    description: EIP-191 provenance receipt over sha256(text)+url+status+time, verifiable OFFLINE by anyone (key pinned at /.well-known/mercury-attestation). Proves THIS metadata record is exactly what MERCURY parsed from THIS url at THIS time — the wedge a free metadata API cannot emit.
                required:
                - ok
                - url
                additionalProperties: false
        '402':
          description: Payment Required — retry with an x402-signed payment (e.g. x402-fetch). Terms are in the challenge body (x402 v1).
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          maxLength: 2048
          description: the page to read metadata from (http/https)
        description: the page to read metadata from (http/https)
      x-payment-info:
        protocols:
        - x402
        scheme: exact
        price: $0.006
        currency: USDC
        network: base
        networkCaip2: eip155:8453
        testnet: false
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0xe10B9d44e72A29B9c19da02981FFCd875308e3C1'
        facilitator: https://api.cdp.coinbase.com/platform/v2/x402
        x402Version: 1
      x-x402:
        scheme: exact
        price: $0.006
        currency: USDC
        network: base
        networkCaip2: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0xe10B9d44e72A29B9c19da02981FFCd875308e3C1'
        facilitator: https://api.cdp.coinbase.com/platform/v2/x402
        testnet: false
        maxTimeoutSeconds: 60
x-payment-info:
  protocols:
  - x402
  network: base
  currency: USDC
  payTo: '0xe10B9d44e72A29B9c19da02981FFCd875308e3C1'
  facilitator: https://api.cdp.coinbase.com/platform/v2/x402
  testnet: false
  spec: mercury-storefront/1
